## Project Overview: Forecasting Time-Series Data for Business Decision-Making

This notebook explores a time-series forecasting workflow using stock price data as an example. The same approach is widely applicable in marketing analytics—forecasting demand, predicting baseline sales, planning budgets, or estimating future performance given historical trends.

The focus is on:
- Preparing time-series data (dates, missing values, resampling)
- Building and evaluating a forecasting model
- Interpreting results and limitations for decision support

Each section explains *why* the step matters analytically, followed by code showing *how* the task is executed.

**0. Imports**
Put all Python imports in the cell below. If you later decide you need to import something, you must put it here and re-run!

In [2]:
import pandas as pd
import requests as rq

**1. Find the correct API endpoint to retrieve historical data on GDP**

Define a variable `base_url` that is a **string** that is simply the base portion of the Alpha Vantage URL endpoint. That is, if you look at any API call, this is everything before the question mark.

Next, define another variable `API_KEY` that is a **string** and is your Alpha Vantage API key (make one, they're free and you don't need to give a real email!)

Use the [Documentation](https://www.alphavantage.co/documentation/) to help you.

In [2]:
av_apikey = 'RCFXMHOA3MA8UORQ'
base_url = 'https://www.alphavantage.co/query'

**2. Use Python and the `requests` library to make an API call and retrieve historical GDP data at *the highest level of granularity* (i.e. most frequent that the API allows). Remember to add your own API key to the query.**

You should convert the results to JSON so it behaves like a Python dictionary.

In [84]:
req = rq.get(base_url, params={
    'apikey': av_apikey,
    'function':'REAL_GDP',
    'interval':'quarterly'
})
gdp_data=req.json()
gdp_data

{'name': 'Real Gross Domestic Product',
 'interval': 'quarterly',
 'unit': 'billions of dollars',
 'data': [{'date': '2024-07-01', 'value': '5862.966'},
  {'date': '2024-04-01', 'value': '5817.169'},
  {'date': '2024-01-01', 'value': '5638.455'},
  {'date': '2023-10-01', 'value': '5831.583'},
  {'date': '2023-07-01', 'value': '5724.051'},
  {'date': '2023-04-01', 'value': '5646.288'},
  {'date': '2023-01-01', 'value': '5469.175'},
  {'date': '2022-10-01', 'value': '5668.877'},
  {'date': '2022-07-01', 'value': '5544.386'},
  {'date': '2022-04-01', 'value': '5484.289'},
  {'date': '2022-01-01', 'value': '5337.277'},
  {'date': '2021-10-01', 'value': '5591.973'},
  {'date': '2021-07-01', 'value': '5408.478'},
  {'date': '2021-04-01', 'value': '5360.97'},
  {'date': '2021-01-01', 'value': '5133.377'},
  {'date': '2020-10-01', 'value': '5298.828'},
  {'date': '2020-07-01', 'value': '5134.93'},
  {'date': '2020-04-01', 'value': '4783.855'},
  {'date': '2020-01-01', 'value': '5049.973'},
  {'date': '2019-10-01', 'value': '5351.022'},
  {'date': '2019-07-01', 'value': '5232.278'},
  {'date': '2019-04-01', 'value': '5159.323'},
  {'date': '2019-01-01', 'value': '4973.048'},
  {'date': '2018-10-01', 'value': '5170.563'},
  {'date': '2018-07-01', 'value': '5092.532'},
  {'date': '2018-04-01', 'value': '5039.983'},
  {'date': '2018-01-01', 'value': '4890.817'},
  {'date': '2017-10-01', 'value': '5069.624'},
  {'date': '2017-07-01', 'value': '4950.878'},
  {'date': '2017-04-01', 'value': '4893.234'},
  {'date': '2017-01-01', 'value': '4698.367'},
  {'date': '2016-10-01', 'value': '4912.331'},
  {'date': '2016-07-01', 'value': '4819.182'},
  {'date': '2016-04-01', 'value': '4768.308'},
  {'date': '2016-01-01', 'value': '4641.851'},
  {'date': '2015-10-01', 'value': '4799.354'},
  {'date': '2015-07-01', 'value': '4741.07'},
  {'date': '2015-04-01', 'value': '4696.817'},
  {'date': '2015-01-01', 'value': '4562.381'},
  {'date': '2014-10-01', 'value': '4709.584'},
  {'date': '2014-07-01', 'value': '4616.61'},
  {'date': '2014-04-01', 'value': '4532.342'},
  {'date': '2014-01-01', 'value': '4403.178'},
  {'date': '2013-10-01', 'value': '4586.321'},
  {'date': '2013-07-01', 'value': '4486.445'},
  {'date': '2013-04-01', 'value': '4419.14'},
  {'date': '2013-01-01', 'value': '4320.262'},
  {'date': '2012-10-01', 'value': '4440.555'},
  {'date': '2012-07-01', 'value': '4376.682'},
  {'date': '2012-04-01', 'value': '4345.706'},
  {'date': '2012-01-01', 'value': '4279.816'},
  {'date': '2011-10-01', 'value': '4371.813'},
  {'date': '2011-07-01', 'value': '4273.162'},
  {'date': '2011-04-01', 'value': '4251.8'},
  {'date': '2011-01-01', 'value': '4155.635'},
  {'date': '2010-10-01', 'value': '4316.573'},
  {'date': '2010-07-01', 'value': '4229.41'},
  {'date': '2010-04-01', 'value': '4188.706'},
  {'date': '2010-01-01', 'value': '4055.062'},
  {'date': '2009-10-01', 'value': '4209.064'},
  {'date': '2009-07-01', 'value': '4102.854'},
  {'date': '2009-04-01', 'value': '4060.384'},
  {'date': '2009-01-01', 'value': '3976.808'},
  {'date': '2008-10-01', 'value': '4179.959'},
  {'date': '2008-07-01', 'value': '4192.399'},
  {'date': '2008-04-01', 'value': '4226.589'},
  {'date': '2008-01-01', 'value': '4182.537'},
  {'date': '2007-10-01', 'value': '4305.666'},
  {'date': '2007-07-01', 'value': '4208.612'},
  {'date': '2007-04-01', 'value': '4184.414'},
  {'date': '2007-01-01', 'value': '4063.753'},
  {'date': '2006-10-01', 'value': '4201.0'},
  {'date': '2006-07-01', 'value': '4111.947'},
  {'date': '2006-04-01', 'value': '4116.718'},
  {'date': '2006-01-01', 'value': '4003.482'},
  {'date': '2005-10-01', 'value': '4107.378'},
  {'date': '2005-07-01', 'value': '4040.686'},
  {'date': '2005-04-01', 'value': '3972.818'},
  {'date': '2005-01-01', 'value': '3867.076'},
  {'date': '2004-10-01', 'value': '3990.913'},
  {'date': '2004-07-01', 'value': '3879.617'},
  {'date': '2004-04-01', 'value': '3837.587'},
  {'date': '2004-01-01', 'value': '3741.64'},
  {'date': '2003-10-01', 'value': '3860.185'},
  {'date': '2003-07-01', 'value': '3753.431'},
  {'date': '2003-04-01', 'value': '3680.929'},
  {'date': '2003-01-01', 'value': '3582.767'},
  {'date': '2002-10-01', 'value': '3712.845'},
  {'date': '2002-07-01', 'value': '3650.253'},
  {'date': '2002-04-01', 'value': '3608.496'},
  {'date': '2002-01-01', 'value': '3501.118'}]}

**3. Convert the data in this JSON to a Pandas dataframe and export to a csv.**

In [85]:
df = pd.DataFrame(gdp_data['data'])
df.to_csv('GDP_data.csv')
df

          date     value
0   2024-07-01  5862.966
1   2024-04-01  5817.169
2   2024-01-01  5638.455
3   2023-10-01  5831.583
4   2023-07-01  5724.051
..         ...       ...
86  2003-01-01  3582.767
87  2002-10-01  3712.845
88  2002-07-01  3650.253
89  2002-04-01  3608.496
90  2002-01-01  3501.118

[91 rows x 2 columns]

**4. Next, identify the endpoint for finding daily stock price values and query the VXX ticker.**

Make sure to get as much data as possible using the `outputsize` parameter at this endpoint.

VXX is a mutual fund that that adequately represents the [VIX](https://www.investopedia.com/articles/optioninvestor/09/implied-volatility-contrary-indicator.asp#:~:text=VIX%20measures%20the%20market%27s%20expectation%20of%20volatility%20over,trends%20in%20the%20VIX%20can%20inform%20trading%20strategies.) index that represents the fear and volatility in the market. When VIX (or VXX) is high, fear controls the market, and when VIX (or VXX) is low, people have more confidence in the market.

In [11]:
req = rq.get(base_url, params={
    'apikey': av_apikey,
    'symbol':"VXX",
    'function':'TIME_SERIES_DAILY'
})
vxx_data=req.json()

**5. Cast the result as a dataframe and export it to a csv.**

In [27]:
vxx_df = pd.DataFrame(vxx_data['Time Series (Daily)'])
vxx_df = vxx_df.transpose()
vxx_df.to_csv('vxx_data.csv')

**6. Repeat steps 4 and 5, but this time for VTI**

Use all of the same settings to now gather data for VTI, a mutual fund that consists of _every_ US stock. VTI can be considered an indicator for the overall market.

Again, as in step 5, save this data out to a csv.

In [83]:
req = rq.get(base_url, params={
    'apikey': av_apikey,
    'symbol':"VTI",
    'function':'TIME_SERIES_DAILY'
})
vti_data=req.json()
vti_df = pd.DataFrame(vti_data['Time Series (Daily)'])
vti_df = vti_df.transpose()
vti_df.to_csv('vti_data.csv')

In [54]:
vxx_data

{'Meta Data': {'1. Information': 'Daily Prices (open, high, low, close) and Volumes',
  '2. Symbol': 'VXX',
  '3. Last Refreshed': '2024-11-25',
  '4. Output Size': 'Compact',
  '5. Time Zone': 'US/Eastern'},
 'Time Series (Daily)': {'2024-11-25': {'1. open': '44.3900',
   '2. high': '46.2463',
   '3. low': '43.8800',
   '4. close': '43.8800',
   '5. volume': '3644270'},
  '2024-11-22': {'1. open': '47.2900',
   '2. high': '47.5600',
   '3. low': '45.7200',
   '4. close': '45.7600',
   '5. volume': '4059510'},
  '2024-11-21': {'1. open': '46.5800',
   '2. high': '49.2700',
   '3. low': '46.4300',
   '4. close': '47.6500',
   '5. volume': '5656180'},
  '2024-11-20': {'1. open': '46.4300',
   '2. high': '49.8300',
   '3. low': '46.3400',
   '4. close': '48.0300',
   '5. volume': '7870478'},
  '2024-11-19': {'1. open': '47.5200',
   '2. high': '47.6200',
   '3. low': '45.2100',
   '4. close': '46.3800',
   '5. volume': '6250695'},
  '2024-11-18': {'1. open': '46.3100',
   '2. high': '46.6400',
   '3. low': '44.1500',
   '4. close': '44.8900',
   '5. volume': '4356053'},
  '2024-11-15': {'1. open': '44.1600',
   '2. high': '48.6300',
   '3. low': '43.9500',
   '4. close': '46.5900',
   '5. volume': '8239885'},
  '2024-11-14': {'1. open': '43.2700',
   '2. high': '43.8400',
   '3. low': '42.7800',
   '4. close': '43.4800',
   '5. volume': '3466660'},
  '2024-11-13': {'1. open': '44.2400',
   '2. high': '44.7800',
   '3. low': '43.3500',
   '4. close': '43.5350',
   '5. volume': '3026143'},
  '2024-11-12': {'1. open': '44.9200',
   '2. high': '45.7300',
   '3. low': '44.3600',
   '4. close': '44.5200',
   '5. volume': '3233376'},
  '2024-11-11': {'1. open': '44.3700',
   '2. high': '44.7500',
   '3. low': '43.9200',
   '4. close': '44.6500',
   '5. volume': '3168902'},
  '2024-11-08': {'1. open': '45.0300',
   '2. high': '45.6100',
   '3. low': '44.5700',
   '4. close': '44.7700',
   '5. volume': '3230181'},
  '2024-11-07': {'1. open': '45.7400',
   '2. high': '45.7400',
   '3. low': '44.8400',
   '4. close': '45.0900',
   '5. volume': '4386697'},
  '2024-11-06': {'1. open': '46.0000',
   '2. high': '48.4900',
   '3. low': '46.0000',
   '4. close': '46.7400',
   '5. volume': '7838976'},
  '2024-11-05': {'1. open': '53.6900',
   '2. high': '53.6900',
   '3. low': '51.4100',
   '4. close': '51.5500',
   '5. volume': '6254737'},
  '2024-11-04': {'1. open': '56.3700',
   '2. high': '56.7102',
   '3. low': '54.1500',
   '4. close': '54.4700',
   '5. volume': '4552875'},
  '2024-11-01': {'1. open': '56.3100',
   '2. high': '57.0500',
   '3. low': '54.9600',
   '4. close': '56.8500',
   '5. volume': '6145103'},
  '2024-10-31': {'1. open': '55.2099',
   '2. high': '58.0000',
   '3. low': '55.1000',
   '4. close': '57.8700',
   '5. volume': '7310092'},
  '2024-10-30': {'1. open': '52.9500',
   '2. high': '53.9200',
   '3. low': '52.1200',
   '4. close': '53.7600',
   '5. volume': '3054689'},
  '2024-10-29': {'1. open': '52.8400',
   '2. high': '53.2500',
   '3. low': '51.7100',
   '4. close': '52.4800',
   '5. volume': '2947222'},
  '2024-10-28': {'1. open': '53.0600',
   '2. high': '53.3800',
   '3. low': '52.0100',
   '4. close': '52.7100',
   '5. volume': '3930978'},
  '2024-10-25': {'1. open': '52.1900',
   '2. high': '55.3900',
   '3. low': '51.7200',
   '4. close': '55.2900',
   '5. volume': '4707778'},
  '2024-10-24': {'1. open': '52.5300',
   '2. high': '55.2500',
   '3. low': '52.4650',
   '4. close': '52.8100',
   '5. volume': '3981106'},
  '2024-10-23': {'1. open': '51.7500',
   '2. high': '55.0900',
   '3. low': '51.6100',
   '4. close': '53.7200',
   '5. volume': '5477638'},
  '2024-10-22': {'1. open': '52.0400',
   '2. high': '52.5700',
   '3. low': '50.8100',
   '4. close': '51.1500',
   '5. volume': '2799325'},
  '2024-10-21': {'1. open': '51.6000',
   '2. high': '52.7100',
   '3. low': '51.0900',
   '4. close': '51.3500',
   '5. volume': '2856604'},
  '2024-10-18': {'1. open': '52.0900',
   '2. high': '52.3900',
   '3. low': '51.1400',
   '4. close': '51.2100',
   '5. volume': '2487258'},
  '2024-10-17': {'1. open': '52.8100',
   '2. high': '53.5000',
   '3. low': '52.3400',
   '4. close': '52.4500',
   '5. volume': '2145717'},
  '2024-10-16': {'1. open': '53.7200',
   '2. high': '54.6100',
   '3. low': '52.9700',
   '4. close': '53.3300',
   '5. volume': '2986468'},
  '2024-10-15': {'1. open': '51.2300',
   '2. high': '54.0750',
   '3. low': '50.8600',
   '4. close': '53.8500',
   '5. volume': '5534039'},
  '2024-10-14': {'1. open': '53.3100',
   '2. high': '53.5200',
   '3. low': '51.5900',
   '4. close': '52.1500',
   '5. volume': '2861634'},
  '2024-10-11': {'1. open': '54.8100',
   '2. high': '54.9000',
   '3. low': '53.6300',
   '4. close': '54.0700',
   '5. volume': '3442159'},
  '2024-10-10': {'1. open': '54.2800',
   '2. high': '55.4500',
   '3. low': '54.1850',
   '4. close': '54.7100',
   '5. volume': '3561582'},
  '2024-10-09': {'1. open': '55.0000',
   '2. high': '55.2800',
   '3. low': '53.7200',
   '4. close': '54.0300',
   '5. volume': '3568310'},
  '2024-10-08': {'1. open': '55.6800',
   '2. high': '56.3600',
   '3. low': '54.6750',
   '4. close': '55.3900',
   '5. volume': '4079355'},
  '2024-10-07': {'1. open': '53.9700',
   '2. high': '58.1600',
   '3. low': '53.8500',
   '4. close': '57.7200',
   '5. volume': '5437847'},
  '2024-10-04': {'1. open': '53.8900',
   '2. high': '54.7529',
   '3. low': '52.7200',
   '4. close': '53.0000',
   '5. volume': '4292721'},
  '2024-10-03': {'1. open': '53.9000',
   '2. high': '55.4000',
   '3. low': '53.0100',
   '4. close': '55.0900',
   '5. volume': '4488266'},
  '2024-10-02': {'1. open': '53.5302',
   '2. high': '55.1200',
   '3. low': '52.3900',
   '4. close': '52.7100',
   '5. volume': '4441547'},
  '2024-10-01': {'1. open': '49.5000',
   '2. high': '54.0600',
   '3. low': '49.5000',
   '4. close': '53.4300',
   '5. volume': '11330766'},
  '2024-09-30': {'1. open': '51.0000',
   '2. high': '52.1700',
   '3. low': '49.5300',
   '4. close': '49.6000',
   '5. volume': '3843865'},
  '2024-09-27': {'1. open': '48.4000',
   '2. high': '50.7680',
   '3. low': '48.3400',
   '4. close': '50.7300',
   '5. volume': '3286524'},
  '2024-09-26': {'1. open': '48.1500',
   '2. high': '48.9500',
   '3. low': '48.0000',
   '4. close': '48.4800',
   '5. volume': '2758277'},
  '2024-09-25': {'1. open': '48.0300',
   '2. high': '48.5900',
   '3. low': '47.4400',
   '4. close': '48.4100',
   '5. volume': '2901565'},
  '2024-09-24': {'1. open': '47.4500',
   '2. high': '49.3575',
   '3. low': '47.1450',
   '4. close': '47.7600',
   '5. volume': '2841264'},
  '2024-09-23': {'1. open': '47.0600',
   '2. high': '48.1500',
   '3. low': '46.6300',
   '4. close': '47.7300',
   '5. volume': '3110051'},
  '2024-09-20': {'1. open': '48.0600',
   '2. high': '48.2500',
   '3. low': '46.9300',
   '4. close': '47.4300',
   '5. volume': '3999247'},
  '2024-09-19': {'1. open': '47.9700',
   '2. high': '48.7300',
   '3. low': '47.3500',
   '4. close': '47.7200',
   '5. volume': '4122401'},
  '2024-09-18': {'1. open': '50.1000',
   '2. high': '50.9312',
   '3. low': '47.5600',
   '4. close': '49.8800',
   '5. volume': '7650426'},
  '2024-09-17': {'1. open': '49.1500',
   '2. high': '51.0700',
   '3. low': '48.7000',
   '4. close': '50.3000',
   '5. volume': '4633502'},
  '2024-09-16': {'1. open': '49.0700',
   '2. high': '50.4500',
   '3. low': '48.9600',
   '4. close': '49.2400',
   '5. volume': '4137897'},
  '2024-09-13': {'1. open': '49.2000',
   '2. high': '49.3700',
   '3. low': '47.7100',
   '4. close': '48.7900',
   '5. volume': '4374728'},
  '2024-09-12': {'1. open': '49.8500',
   '2. high': '51.0200',
   '3. low': '48.8800',
   '4. close': '48.9400',
   '5. volume': '4299332'},
  '2024-09-11': {'1. open': '50.7700',
   '2. high': '55.7050',
   '3. low': '49.2900',
   '4. close': '49.3300',
   '5. volume': '7399757'},
  '2024-09-10': {'1. open': '51.9500',
   '2. high': '54.9100',
   '3. low': '51.4000',
   '4. close': '51.5200',
   '5. volume': '5116697'},
  '2024-09-09': {'1. open': '54.9800',
   '2. high': '55.5500',
   '3. low': '51.9450',
   '4. close': '52.4500',
   '5. volume': '6143031'},
  '2024-09-06': {'1. open': '51.3400',
   '2. high': '58.5800',
   '3. low': '50.7000',
   '4. close': '56.1100',
   '5. volume': '9679951'},
  '2024-09-05': {'1. open': '53.9900',
   '2. high': '54.6400',
   '3. low': '51.4000',
   '4. close': '52.2400',
   '5. volume': '7605084'},
  '2024-09-04': {'1. open': '55.0300',
   '2. high': '56.2100',
   '3. low': '51.2400',
   '4. close': '54.9700',
   '5. volume': '8664368'},
  '2024-09-03': {'1. open': '45.6200',
   '2. high': '55.2000',
   '3. low': '45.5200',
   '4. close': '53.5400',
   '5. volume': '10683512'},
  '2024-08-30': {'1. open': '45.0400',
   '2. high': '46.0000',
   '3. low': '44.3600',
   '4. close': '44.5000',
   '5. volume': '4818121'},
  '2024-08-29': {'1. open': '46.0200',
   '2. high': '46.5800',
   '3. low': '45.1575',
   '4. close': '45.8850',
   '5. volume': '5392007'},
  '2024-08-28': {'1. open': '45.0500',
   '2. high': '48.2399',
   '3. low': '44.9100',
   '4. close': '47.5800',
   '5. volume': '5543998'},
  '2024-08-27': {'1. open': '46.5300',
   '2. high': '46.9200',
   '3. low': '44.9450',
   '4. close': '44.9900',
   '5. volume': '2718312'},
  '2024-08-26': {'1. open': '45.6600',
   '2. high': '47.0500',
   '3. low': '45.5700',
   '4. close': '45.9000',
   '5. volume': '3060615'},
  '2024-08-23': {'1. open': '47.5500',
   '2. high': '48.1400',
   '3. low': '45.7300',
   '4. close': '45.9400',
   '5. volume': '6822945'},
  '2024-08-22': {'1. open': '46.3500',
   '2. high': '49.1600',
   '3. low': '46.1900',
   '4. close': '48.8650',
   '5. volume': '5196910'},
  '2024-08-21': {'1. open': '46.0700',
   '2. high': '48.0100',
   '3. low': '45.9900',
   '4. close': '46.8900',
   '5. volume': '5104947'},
  '2024-08-20': {'1. open': '44.7400',
   '2. high': '46.4393',
   '3. low': '44.5200',
   '4. close': '46.1700',
   '5. volume': '6027932'},
  '2024-08-19': {'1. open': '45.2900',
   '2. high': '45.4500',
   '3. low': '44.0300',
   '4. close': '44.4300',
   '5. volume': '5124229'},
  '2024-08-16': {'1. open': '46.1200',
   '2. high': '46.4500',
   '3. low': '45.0000',
   '4. close': '45.2300',
   '5. volume': '4001762'},
  '2024-08-15': {'1. open': '45.8300',
   '2. high': '46.5600',
   '3. low': '44.6600',
   '4. close': '45.3350',
   '5. volume': '6014297'},
  '2024-08-14': {'1. open': '49.4800',
   '2. high': '49.9000',
   '3. low': '47.0600',
   '4. close': '47.1400',
   '5. volume': '5644615'},
  '2024-08-13': {'1. open': '53.3400',
   '2. high': '53.5000',
   '3. low': '50.3300',
   '4. close': '50.4200',
   '5. volume': '5265774'},
  '2024-08-12': {'1. open': '54.7250',
   '2. high': '56.1700',
   '3. low': '51.2200',
   '4. close': '54.7600',
   '5. volume': '6186453'},
  '2024-08-09': {'1. open': '62.7300',
   '2. high': '64.0500',
   '3. low': '54.5100',
   '4. close': '55.7800',
   '5. volume': '8224421'},
  '2024-08-08': {'1. open': '67.7400',
   '2. high': '67.7400',
   '3. low': '62.6100',
   '4. close': '63.4700',
   '5. volume': '6181786'},
  '2024-08-07': {'1. open': '61.4300',
   '2. high': '71.8000',
   '3. low': '60.3800',
   '4. close': '68.9550',
   '5. volume': '12113256'},
  '2024-08-06': {'1. open': '77.4800',
   '2. high': '80.4200',
   '3. low': '62.0000',
   '4. close': '70.4700',
   '5. volume': '17972832'},
  '2024-08-05': {'1. open': '90.0800',
   '2. high': '91.0200',
   '3. low': '72.3700',
   '4. close': '87.2600',
   '5. volume': '34747553'},
  '2024-08-02': {'1. open': '54.4600',
   '2. high': '64.4500',
   '3. low': '53.8200',
   '4. close': '62.6800',
   '5. volume': '34052000'},
  '2024-08-01': {'1. open': '46.1100',
   '2. high': '52.1300',
   '3. low': '45.8300',
   '4. close': '50.5100',
   '5. volume': '10034730'},
  '2024-07-31': {'1. open': '46.1170',
   '2. high': '46.5400',
   '3. low': '44.6200',
   '4. close': '46.2500',
   '5. volume': '6750755'},
  '2024-07-30': {'1. open': '45.7600',
   '2. high': '49.1400',
   '3. low': '45.6500',
   '4. close': '47.3700',
   '5. volume': '7642164'},
  '2024-07-29': {'1. open': '46.3700',
   '2. high': '47.2500',
   '3. low': '45.6800',
   '4. close': '45.9100',
   '5. volume': '5320102'},
  '2024-07-26': {'1. open': '48.0500',
   '2. high': '48.4600',
   '3. low': '46.7200',
   '4. close': '46.7800',
   '5. volume': '8958514'},
  '2024-07-25': {'1. open': '48.5677',
   '2. high': '51.0400',
   '3. low': '46.6100',
   '4. close': '49.5900',
   '5. volume': '17223439'},
  '2024-07-24': {'1. open': '44.7000',
   '2. high': '49.6700',
   '3. low': '44.6700',
   '4. close': '49.1900',
   '5. volume': '15192014'},
  '2024-07-23': {'1. open': '10.9200',
   '2. high': '10.9701',
   '3. low': '10.6700',
   '4. close': '10.8300',
   '5. volume': '13166122'},
  '2024-07-22': {'1. open': '11.3100',
   '2. high': '11.3550',
   '3. low': '10.8450',
   '4. close': '10.9200',
   '5. volume': '16530702'},
  '2024-07-19': {'1. open': '11.2400',
   '2. high': '11.6700',
   '3. low': '11.0900',
   '4. close': '11.5300',
   '5. volume': '26993090'},
  '2024-07-18': {'1. open': '10.5000',
   '2. high': '11.2223',
   '3. low': '10.4401',
   '4. close': '11.0600',
   '5. volume': '23522443'},
  '2024-07-17': {'1. open': '10.6600',
   '2. high': '10.8850',
   '3. low': '10.5200',
   '4. close': '10.7500',
   '5. volume': '25744780'},
  '2024-07-16': {'1. open': '10.2900',
   '2. high': '10.4100',
   '3. low': '10.2400',
   '4. close': '10.4100',
   '5. volume': '9528793'},
  '2024-07-15': {'1. open': '10.0800',
   '2. high': '10.3500',
   '3. low': '10.0300',
   '4. close': '10.3100',
   '5. volume': '10389456'},
  '2024-07-12': {'1. open': '10.1750',
   '2. high': '10.1800',
   '3. low': '9.9950',
   '4. close': '10.1600',
   '5. volume': '11951911'},
  '2024-07-11': {'1. open': '10.1600',
   '2. high': '10.4650',
   '3. low': '10.1438',
   '4. close': '10.3400',
   '5. volume': '18279738'},
  '2024-07-10': {'1. open': '10.3100',
   '2. high': '10.3200',
   '3. low': '10.1400',
   '4. close': '10.2800',
   '5. volume': '8430354'},
  '2024-07-09': {'1. open': '10.2600',
   '2. high': '10.3650',
   '3. low': '10.2200',
   '4. close': '10.3000',
   '5. volume': '5169746'},
  '2024-07-08': {'1. open': '10.3400',
   '2. high': '10.3500',
   '3. low': '10.2100',
   '4. close': '10.2700',
   '5. volume': '6864058'}}}

In [26]:
vti_df

            1. open  2. high   3. low 4. close 5. volume
2024-11-25  44.3900  46.2463  43.8800  43.8800   3644270
2024-11-22  47.2900  47.5600  45.7200  45.7600   4059510
2024-11-21  46.5800  49.2700  46.4300  47.6500   5656180
2024-11-20  46.4300  49.8300  46.3400  48.0300   7870478
2024-11-19  47.5200  47.6200  45.2100  46.3800   6250695
...             ...      ...      ...      ...       ...
2024-07-12  10.1750  10.1800   9.9950  10.1600  11951911
2024-07-11  10.1600  10.4650  10.1438  10.3400  18279738
2024-07-10  10.3100  10.3200  10.1400  10.2800   8430354
2024-07-09  10.2600  10.3650  10.2200  10.3000   5169746
2024-07-08  10.3400  10.3500  10.2100  10.2700   6864058

[100 rows x 5 columns]

# Part 2: Cryptocurrencies

Your stakeholders are becoming aware of the rise in cryptocurrencies, and would like to understand the recent growth of this market. Your task is to use the Alpha Vantage API to extract historical data on cryptocurrency market performance, and tell a story about their growth using visuals created in a BI tool of your choice (Tableau/Power BI).

**1. Find the correct API endpoints to retrieve historical data on cryptocurrency prices over time. Daily should be a sufficient level of granularity for your purposes.**

Use any specific cryptocurrency you wish (e.g. Bitcoin) against the US Dollar.

Use the [Documentation](https://www.alphavantage.co/documentation/) to help you.

**2. Use Python to read the data as JSON**

In [90]:
req3 = rq.get(base_url, params={
    'apikey': av_apikey,
    'function':'DIGITAL_CURRENCY_MONTHLY',
    'symbol': "ETH",
    'market':"USD"
})
eth_data=req3.json()

**3. Identify the key which holds the data itself and export it as a csv.**

In [ ]:
eth_df = pd.DataFrame(eth_data["Time Series (Digital Currency Monthly)"])
eth_df.transpose().to_csv('eth_monthly_data.csv')
eth_df